body {
	background-color: #2554C7;
}

.container {
	
}

.header {
	background-color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer {
	background-color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content {
	background-color: #FFF;
	min-height: 400px;
}

.align-right{
	text-align: right;
}
