body {
	background-color: #001333;
}

.container {
	
}

#header {
	background: #F2F4FC;
	width: 100%;
	overflow: hidden;
}

#header .logo{
    float: left;
}

#header .dal{
    float: right;
    margin: 15px;
}

.footer {
    width: 100%;
	background-color: #FFF;
	font-size: 10px;
	text-align: right;
}

.highcharts-container {
    margin-bottom: 15px;
}

.highcharts-title{
    font-weight: bold;
}
.content {
	background-color: #89B8D6;
	min-height: 400px;
	padding: 15px;
}

.align-right{
	text-align: right;
}
.d-invisible {
	display: none;
}
.d-graph-container {
	background-color: #cce9ff;
}
.d-load-graph {
	background-color: #99d3ff;
}
.d-load-graph a {
	text-align: center;
	font-weight: bolder;
	text-decoration: none;
}
.d-tab-menu {
	background-color: #cce9ff;
}
.d-tab-menu div {
	background-color: #99d3ff;
}
.d-tab-menu div.d-selected {
	background-color: #cce9ff;
}
.d-selected {
	background-color: #cce9ff;
}
.d-tab-menu a {
	text-align: center;
	font-weight: bolder;
	text-decoration: none;
}